body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
  
    font-size: 50px;
}
h2{
    font-size: 37px;
}
.color{
    color:mediumseagreen;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{

    width: 50%;
    padding-left: 5%;
}

.half-width img{

    width: 85%;

}
.link-button{

    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color:white;
    font-weight: 700;
    padding:10px 40px;
    border-radius: 5px;

    
}

.top-banner{
    background-image: url(web-developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(web-developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.experience-area{
    background-image: url(web-developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#full-stack{
    border-left: 7px solid tomato;
}
#baby-web{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}