body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
  
    font-size: 50px;
}
.color{
    color:mediumseagreen;
}

section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{

    width: 50%;
    padding-left: 5%;
}

.half-width img{

    width: 85%;

}
.link-button{

    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color:white;
    font-weight: 700;
    padding:10px 40px;
    border-radius: 5px;
    
}

.top-banner{
    background-image: url(web-developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(web-developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}